body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imgs/luffy.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}
.container div {
    margin: 10px;
    padding: 10px;
   
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}

