body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style-type: none;
    /* Tirar as bolas da lista */
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    padding: 15px;
    text-decoration: none;
    color: #727272;
    transition: 300ms all;
}

nav .active a,
nav a:hover {
    background-color: #39aee1;
    color: white;
    cursor: pointer;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url(../imgs/img1.jpeg);
    height: 670px;
    background-size: cover;
    background-position: center;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.banner_headline h1 {
    font-size: 70px;
    margin: 0;
    padding: 0;
    text-shadow: 0px 3px 0px #5555;
    max-width: 350px;
}

.banner_headline h2 {
    font-size: 21px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    padding: 0;
    text-shadow: 0px 3px 0px #5555;
    max-width: 350px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.banner1 {
    background-color: #399ae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.bannerTitle {
    font-size: 21px;
}

.bannerDesc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

#geral {
    display: flex;
    justify-content: center;
}

.widgetTitle {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widgetTitleText {
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.widgetTitleBar {
    width: 50px;
    height: 5px;
    background-color: #36a9e1;
    margin-top: 10px;
}   

#rodape {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

@media (max-width:800px){

    .menu nav ul {
        margin-top: 50px;
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background: #ffff;
    }

    .banner_headline h1{
        font-size: 55px;
        margin-left: 30px;
    }

    .banner_headline h2 {
        font-size: 17px;
        padding: 30px;
        text-shadow: 0px 2px 0px #5555; 
    }

    .banner_options{
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .container{
        flex-direction: column;
    }

    #geral {
        padding: 20px;
    }

    #rodape {
        flex-direction: column;
        padding: 20px;
        align-items: center;
        padding-left: 10px;

    }
}